@using QuanLyBanHang.Models;
@model IEnumerable<LoaiSanPham>

<div class="panel-group category-products" id="accordian">
    @foreach (var item in Model)
    {
        <!--category-productsr-->
        <div class="panel panel-default">
            <div class="panel-heading">

                <h4 class="panel-title"><a href="#">@item.TenLoaiSP</a></h4>
                
            </div>
        </div>
    }
</div>

