@using QuanLyBanHang.Models;
@model IEnumerable<LoaiSanPham>
<li class="dropdown">
    <a href="#">Category<i class="fa fa-angle-down"></i></a>
    <ul role="menu" class="sub-menu">
        @foreach(var item in Model)
        {
        <li><a href="blog.html">@item.TenLoaiSP</a></li>
        }
    </ul>
</li>
