@using QuanLyBanHang.Models;
@model IEnumerable<SanPham>

<div class="features_items">
    <!--features_items-->
    <h2 class="title text-center">Features Items</h2>
    @foreach (var item in Model)
    {
        <div class="col-sm-4">
            <div class="product-image-wrapper">
               
                    <div class="single-products">
                        <div class="productinfo text-center">
                            <img src="@Url.Content("~/Content/images/home/"+item.HinhAnh)" alt="" />
                            <h2>$56</h2>
                            <p>@item.TenSP</p>
                            <a href="#" class="btn btn-default add-to-cart"><i class="fa fa-shopping-cart"></i>Add to cart</a>
                        </div>
                        <div class="product-overlay">
                            <div class="overlay-content">
                                <h2>$@item.DonGia</h2>
                                <p>@item.TenSP</p>
                                <a href="@Url.Action("ChiTietSanPham","Product",new { id =item.MaSP })" class="btn btn-default add-to-cart"><i class="fa fa-shopping-cart"></i>Chi tiết sản phẩm</a>
                            </div>
                        </div>
                    </div>
            
                <div class="choose">
                    <ul class="nav nav-pills nav-justified">
                        <li><a href="#"><i class="fa fa-plus-square"></i>Add to wishlist</a></li>
                        <li><a href="#"><i class="fa fa-plus-square"></i>Add to compare</a></li>
                    </ul>
                </div>
            </div>
        </div>
    }



</div>
